@import "tailwindcss";

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back {
  background: linear-gradient(90deg, #38bdf8 0%, #f506a5 100%);
}

.tb_sh {
  text-shadow: .1px .1px 1px black;
}

.tw_sh {
  text-shadow: .1px .1px 2px white;
}

.tp_sh {
  text-shadow: .1px .1px 2px #f506a5;
}

.bx_sh {
  box-shadow: .1px .1px 3px 0px black;
}

.gx_sh {
  box-shadow: 0.1px 0.1px 5px 0px rgb(155, 155, 155);
}

.wx_sh {
  box-shadow: .1px .1px 3px 0px white;
}

.cx_sh {
  box-shadow: .1px .1px 3px 0px #38bdf8;
}

.db_shade {
  box-shadow: 0 0 4px #38bdf8, 0 0 4px #f506a5
}

.no_spinner::-webkit-inner-spin-button,
.no_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no_spinner {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
  box-shadow: 0 0 6px #38bdf8, 0 0 6px #f506a5
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #38bdf8, #f506a5);
  border-radius: 10px;
}